name: Build And Test Windows

on:
  push:
    paths:
      - "**/workflows/build_windows.yml"
      - "**/cmake/**"
      - "**/modules/**"
      - "**/tests/**"
      - "**/thirdparty/**"
      - "CMakeLists.txt"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - uses: seanmiddleditch/gha-setup-ninja@master

    - name: Create Build Environment
      run: cmake -E make_directory ${{runner.workspace}}/build

    - name: Configure
      working-directory: ${{runner.workspace}}/build
      run: cmake ${{ github.workspace }} -G "Ninja Multi-Config" -DYUP_ENABLE_TESTS=ON -DYUP_ENABLE_EXAMPLES=OFF

    - name: Build Debug
      working-directory: ${{runner.workspace}}/build
      run: cmake --build . --config Debug --parallel 4 --target yup_tests

    - name: Test Debug
      working-directory: ${{runner.workspace}}/build/tests/Debug
      run: ./yup_tests.exe

    - name: Build Release
      working-directory: ${{runner.workspace}}/build
      run: cmake --build . --config Release --parallel 4 --target yup_tests

    - name: Test Release
      working-directory: ${{runner.workspace}}/build/tests/Release
      run: ./yup_tests.exe
