name: Wasm

on:
  push:
    paths:
      - "CMakeLists.txt"
      - "**/workflows/build_wasm.yml"
      - "**/cmake/**"
      - "**/examples/**"
      - "**/modules/**"
      - "**/tests/**"
      - "**/thirdparty/**"
      - "!**/native/*_android.*"
      - "!**/native/*_linux.*"
      - "!**/native/*_ios.*"
      - "!**/native/*_mac.*"
      - "!**/native/*_windows.*"
    branches:
      - "**"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: seanmiddleditch/gha-setup-ninja@master

    - name: Install Dependencies
      run: |
        sudo apt-get update && sudo apt-get install -y \
        libasound2-dev libjack-jackd2-dev ladspa-sdk libcurl4-openssl-dev libfreetype6-dev \
        libx11-dev libxcomposite-dev libxcursor-dev libxcursor-dev libxext-dev libxi-dev libxinerama-dev \
        libxrandr-dev libxrender-dev libglu1-mesa-dev mesa-common-dev

    - name: Setup emsdk
      uses: mymindstorm/setup-emsdk@v14
      with:
        version: 3.1.45
        actions-cache-folder: "emsdk-cache"

    - name: Create Build Environment
      run: cmake -E make_directory ${{runner.workspace}}/build

    - name: Configure
      working-directory: ${{runner.workspace}}/build
      run: emcmake cmake $GITHUB_WORKSPACE -G "Ninja Multi-Config" -DYUP_ENABLE_TESTS=ON -DYUP_ENABLE_EXAMPLES=ON

    - name: Build Tests Debug
      working-directory: ${{runner.workspace}}/build
      run: cmake --build . --config Debug --parallel 4 --target yup_tests

    - name: Execute Tests Debug
      working-directory: ${{runner.workspace}}/build/tests/Debug
      run: node yup_tests.js

    - name: Build Tests Release
      working-directory: ${{runner.workspace}}/build
      run: cmake --build . --config Release --parallel 4 --target yup_tests

    - name: Test Release
      working-directory: ${{runner.workspace}}/build/tests/Release
      run: node yup_tests.js

    - name: Build Examples Debug
      working-directory: ${{runner.workspace}}/build
      run: |
        cmake --build . --config Debug --parallel 4 --target example_console
        cmake --build . --config Debug --parallel 4 --target example_app
        cmake --build . --config Debug --parallel 4 --target example_graphics
        cmake --build . --config Debug --parallel 4 --target example_render

    - name: Build Examples Release
      working-directory: ${{runner.workspace}}/build
      run: |
        cmake --build . --config Release --parallel 4 --target example_console
        cmake --build . --config Release --parallel 4 --target example_app
        cmake --build . --config Release --parallel 4 --target example_graphics
        cmake --build . --config Release --parallel 4 --target example_render
