name: Windows Python

on:
  push:
    paths:
      - "CMakeLists.txt"
      - "**/workflows/python_windows.yml"
      - "**/cmake/**"
      - "**/modules/**"
      - "**/thirdparty/**"
      - "**/python/**"
      - "!**/native/*_android.*"
      - "!**/native/*_apple.*"
      - "!**/native/*_emscripten.*"
      - "!**/native/*_linux.*"
      - "!**/native/*_ios.*"
      - "!**/native/*_mac.*"
      - "!**/native/*_posix.*"
      - "!**/native/*_wasm.*"
    branches:
      - "**"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build_python:
    name: build_cp${{matrix.python}}-${{ matrix.platform_id }}
    runs-on: ${{ matrix.os }}
    continue-on-error: false

    strategy:
      fail-fast: true
      matrix:
        include:
        - { os: windows-latest, python: 311, platform_id: win_amd64, cibw_archs: AMD64 }
        - { os: windows-latest, python: 311, platform_id: win_arm64, cibw_archs: ARM64 }

    steps:
      - uses: actions/checkout@v4

      - name: Setup and install python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.0.0
        env:
          CIBW_ARCHS: ${{matrix.cibw_archs}}
          CIBW_BUILD: cp${{ matrix.python }}-${{ matrix.platform_id }}
          CIBW_TEST_SKIP: "*-win_arm64"
          CIBW_DEBUG_TRACEBACK: TRUE
          CIBW_ENVIRONMENT: CIBW_DEBUG_TRACEBACK=TRUE
        with:
          package-dir: python

      - name: Store failures artifacts
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: compare-data
          path: |
            python/tests/compare_data/
            !python/tests/compare_data/.gitignore
          if-no-files-found: ignore
          retention-days: 5
          compression-level: 0
          overwrite: true
